.fooditem{
    width: 100%;
    margin: auto;
    border-radius: 30;
    box-shadow: 0px 0px  10px #00000015 ;
    transition: 0.3s;
    animation: fadeIn 1s;
}
.fooditemImage{
    width: 100%;
    border-radius: 15px 15px 0 px 0px;
}