h1 {
  font-size: 50px;
}
.explore-menu-text {
  font-size: 25px;
}
.explore-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  text-align: center;
  border-radius: 100px;
 
  margin: 20px 0;
}
@media (max-width: 1000px) {
 .explore-menu-list {
 flex-wrap: wrap;
}
}

.explore-menu-list::-webkit-scrollbar {
  display: none;
}
.explore-menu-list-item img {
  width: 7.5vw;
  height: 100px;
  min-width: 100px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.2s;
  
}
.explore-menu-list p {
  cursor: pointer;
}
hr {
  margin: 10px 0;
  height: 2px;

  color: black;
}
.explore-menu-list-item .active{
  border: 4px solid #ef4444 ;
  padding: 2px  ;
  
}
@media (max-width: 1050px) {
.abc{
position: relative;
bottom: 70px;

}
.explore-menu-text{
  position: relative;
  bottom: 41px;
}



}
